@import "bootstrap-sprockets";
@import "bootstrap";

$blueish: rgb(0, 60, 113);
$skyish: #606c88;

$ashlight: #606c88;
$ashdark: #3f4c6b;

.image-container{
  position: relative;
}
.photo-container{
  float: left;
  position: relative;
  overflow: hidden;
}
.image-thumb{
  position: relative;
  background-color: #eee;
}

nav {
  padding-right: 30px;
}

nav.navbar.navbar-default.navbar-fixed-top li a {
  color: #333 !important;
  font-weight: 600 !important;
  font-family: "Lato";
}

nav.navbar.navbar-default.navbar-fixed-top {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow:0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
}

headerperm {
  background-color: rgba(200, 200, 200, 0.8);
  z-index: 2;
}


html,body {
  background:#fff;
  overflow:hidden;
}

header {
  text-align: left;
  color: #fff;
  font-family: "Oswald";
  font-weight: 500;
  background: linear-gradient(0deg, $ashlight 0%, $ashdark 100%);
}

hr.star-light:after {
  color: #fff;
  background: $skyish;
}

header h2 {
  font-weight: 700;
}

header img {
  display: block;
}

section {
  font-size: 1.3em;
}

header .intro-text {
  display: block;
  font-family: Alegreya;
  font-size: 1.7em;
}

section {
  padding: 100px 0;
}

section h2 {
  margin: 0;
  font-size: 2em;
}

section.success {
  color: #111;
  background: $skyish;
}

.screen {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
}

.content-blurred {
  margin-top: 100px;
  padding:0 1rem;
  position:absolute;
  top:0;
  left:0;
  right:0;
  filter: blur(15px);
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: url('blur.svg#blur');
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=('15'));
  z-index: 1;
}

.content-blurred .content {
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  backface-visibility:hidden;
}

.content-wrapper {
  background:#fff;
  position:relative;
  padding:0 1rem;
  z-index:1;
  height:100%;
  overflow:auto;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  backface-visibility:hidden;
}

.content-wrapper .content {
    margin-top:0px;
}

.content {
  display:block;
  padding-top:1em;
}

#abstract {
  font-family: 'Alegreya';
}

.authors {
  .author {
    .me {
      border-bottom: 1px dashed #999;
      display: inline;
      font-weight: 600;
      font-size: inherit;
    }
  }
}

#downloads .fa {
  font-size: 4em;
  margin-right: 1em;
  color: white;
}

.paper {

  a {
    color: #111;
    text-decoration: none;
  }

  width: 100%;

  img {
    border-style: solid;
    float: right;
    height: 100px;
  }

  .description {
    font-size: 12px;
    font-style: italic;
  }

  font-family: 'Alegreya';

  .title {
    margin-top: 20px;
    color: #555;
    font-weight: 600;
    font-size: 1em;
  }

  .fa-bookmark {
    // font-size: 8px;
    vertical-align: super;
  }

  .rest {
    padding-left: 10px;
    padding-bottom: 0px;
    font-size: inherit;
  }

  .authors {
    padding-left: 10px;
  }


  .author {
    display: inline;
    .me {
      border-bottom: 1px dashed #999;
      display: inline;
      font-weight: 600;
      font-size: inherit;
    }
  }

  pre.bibtex {
    margin-right: 0%;
  	margin-top: 1.2em;
  	margin-bottom: 1em;
  	border: 1px solid silver;
    font-family: consolas, monospace;
  }
}

img.me {
  width: 150px;
  margin-top: 20px;
  border-radius: 75px;
  margin-bottom: 20px;
  border-color: rgba(10, 10, 10, 0.8);
  border-style: solid;
  border-width: 3px;
}

header .row {
  margin-top: 100px;
  color: black;
  border-style: solid;
  border-width: 3px;
  background-color: rgba(255, 255, 255, 0.75);
}

.fa.large {
  font-size: 1.5em;
  margin-left: 10px;
  margin-bottom: -8px;
}

.fa.large:hover {
  color: lighten($blueish, 0.8);
}

section.success {
  background-image: url("/imgs/bg.jpg");
  background-position: right top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}
