---
layout: default
---
<!-- About Section -->
<section class='success'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-2 col-md-2 col-xs-2'>
        <img alt='' class='me' src='/imgs/me.jpg' width='300px'>
      </div>
      <div class='col-lg-8 col-lg-offset-2'>
        <p>Welcome to my page!</p>
        <p>My name is George and I like to think about optimisation problems.</p>
        <p>I am currently a machine learning researcher with Citadel, London. I obtained my Ph.D. in machine learning from the Department of Computing, at Imperial College London (2013-2017). My work mostly focused in the unification of component analysis techniques with deep learning, predominantly for unsupervised and semi-supervised applications.</p>
        <p>The application areas I touched upon are that of 3d reconstruction, object alignment,  facial biometrics, and emotion recognition.</p>
        <p>
          I am also lucky enough to be a recipient of the prestigious
          <a href='https://research.googleblog.com/2017/04/announcing-2017-google-phd-fellows-for.html' style='color:black;text-decoration:underline'>Google Fellowship in Machine Perception, Speech Technology, and Computer Vision.</a>
        </p>
        <br>
        <br>
        <p>
          You can reach me at
          <a href='trigeorgis@gmail.com'>trigeorgis@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section id='papers'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h2>Articles</h2>
        <hr class='star-primary'>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-2 col-xd-4 col-md-4'></div>
      <div class='col-lg-8 col-xd-8 col-md-8'>
        {{ paper.is_article }}
        {% for paper in site.data['papers'] %}
        {% if paper.is_article == true %}
        {% include paper.html paper=paper %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h2>Conference Publications</h2>
        <hr class='star-primary'>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-2 col-xd-4 col-md-4'></div>
      <div class='col-lg-8 col-xd-8 col-md-8'>
        {% for paper in site.data['papers'] %}
        {% if paper.is_article == false%}
        {% include paper.html paper=paper %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section id='gallery'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h2>Gallery</h2>
        <hr class='star-primary'>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12'>
        <div class='image-container' id='gallery'>
          pass
        </div>
      </div>
    </div>
  </div>
</section>
