---
layout: default
---
<!-- About Section -->
<section class='success'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-2 col-md-2 col-xs-2'>
        <img alt='' class='me' src='/imgs/me.jpg' width='300px'>
      </div>
      <div class='col-lg-8 col-lg-offset-2'>
        <p>
          My name's George and currently I am a Ph.D. student at Imperial
          College London under the supervision of Dr. Stefanos Zafeiriou and
          Dr. Bjoern Schuller. My research interests include deep learning,
          computer vision, matrix factorisation, and emotion recognition.
        </p>
      </div>
    </div>
  </div>
</section>
<section id='papers'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h2>Publications</h2>
        <hr class='star-primary'>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-2 col-xd-4 col-md-4'></div>
      <div class='col-lg-8 col-xd-8 col-md-8'>
        {% for show_articles in [false, true] %}
        {{ if show_articles }}
        <strong>Articles</strong>
        {{ else }}
        <strong>Top-tier conferences</strong>
        {{ endif }}
        {% for paper in site.data['papers'] %}
        {% if paper.is_article == show_articles %}
        <div class='paper' ng-controller='paperCtrl'>
          <div class='title'>{{ paper.title }}</div>
          <!-- .thumb -->
          <!-- %img{src: "{{ paper.thumbnail }}"} -->
          <div class='authors'>{{ paper.authors }}</div>
          <div class='rest'>{{ paper.where }}, {{ paper.year }}</div>
          <div class='description'>
            {{ paper.description }}
          </div>
          <div class='icons'>
            <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
            <!-- %a.fa.large.fa-external-link{href: "{{ paper.url | urlify }}" } -->
            {% if paper.url %}
            <a href='{{ paper.url | urlify }}'>[external]</a>
            {% endif %}
            {% if paper.pdf %}
            <a href='{{ paper.pdf | urlify }}'>[pdf]</a>
            {% endif %}
            {% if paper.code %}
            <a href='{{ paper.code | urlify }}'>[code]</a>
            {% endif %}
            <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
              [bibtex]
            </a>
          </div>
          <div class='bibtex' ng-hide='hideBibtex'>
            <div class='nonbindable' ng-non-bindable='true'>
              <pre>{{ paper.bibtex | xml_escape }}</pre>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
        <div class='col-lg-2 col-xd-4 col-md-4'></div>
      </div>
    </div>
  </div>
</section>
<section id='gallery'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h2>Gallery</h2>
        <hr class='star-primary'>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12'>
        <div class='image-container' id='gallery'>
          pass
        </div>
      </div>
    </div>
  </div>
</section>
