\---
layout: default
\---

/ About Section
%section.success
  .container
    .row
      .col-lg-2.col-md-2.col-xs-2
        %img.me{:alt => "", :src => '/imgs/me.jpg', width: '300px'}/
      .col-lg-8.col-lg-offset-2
        %p
          My name's George and currently I am a Ph.D. student at Imperial
          College London under the supervision of Dr. Stefanos Zafeiriou and
          Dr. Bjoern Schuller. My research interests include deep learning,
          computer vision, matrix factorisation, and emotion recognition.

%section#papers
  .container
    .row
      .col-lg-12.text-center
        %h2 Articles
        %hr.star-primary/
    .row
      .col-lg-2.col-xd-4.col-md-4
      .col-lg-8.col-xd-8.col-md-8
        {{ paper.is_article }}
        {% for paper in site.data['papers'] %}
        {% if paper.is_article == true %}
        {% include paper.html paper=paper %}
        {% endif %}
        {% endfor %}
    .row
      .col-lg-12.text-center
        %h2 Conference Publications
        %hr.star-primary/
    .row
      .col-lg-2.col-xd-4.col-md-4
      .col-lg-8.col-xd-8.col-md-8
        {% for paper in site.data['papers'] %}
        {% if paper.is_article == false%}
        {% include paper.html paper=paper %}
        {% endif %}
        {% endfor %}

%section#gallery
  .container
    .row
      .col-lg-12.text-center
        %h2 Gallery
        %hr.star-primary
    .row
      .col-lg-12
        #gallery.image-container
          pass
