<!DOCTYPE html>
<html ng-app='AngularApp'>
  <head>
    <title>G.Trigeorgis</title>
    <link href='/css/main.css' rel='stylesheet'>
    <link href='/css/syntax.css' rel='stylesheet'>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
    <script src='/js/jquery.justified.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
    <script src='/js/bootstrap-sprockets.js'></script>
    <script src='/js/application.js'></script>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//brick.a.ssl.fastly.net/Andada:400,400i/Alegreya:400,700/Oswald:700' rel='stylesheet'>
    <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'>
    <link href='/favicon.png' rel='icon' type='image/png'>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class='index' id='page-top'>
    <!-- Navigation -->
    <div class='screen'>
      <headerperm>
        <nav class='navbar navbar-default navbar-fixed-top'>
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class='navbar-header page-scroll'>
            <button class='navbar-toggle' data-target='#bs-example-navbar-collapse-1' data-toggle='collapse' type='button'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>
            <!-- %a.navbar-brand{:href => "#page-top"} George Trigeorgis -->
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1' ng-controller='ScrollCtrl'>
            <ul class='nav navbar-nav navbar-right'>
              <li class='page-scroll'>
                <a ng-click="gotoElement('verytop')">Home</a>
              </li>
              <li class='page-scroll'>
                <a ng-click="gotoElement('papers')">Publications</a>
              </li>
              <li class='page-scroll'>
                <a ng-click="gotoElement('gallery')">Gallery</a>
              </li>
              <li class='page-scroll'>
                <a ng-click="gotoElement('contact')">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class='heightdiv' style='height: 50px;'></div>
        <!-- Header -->
      </headerperm>
      <div class='content-wrapper'>
        <div class='content'>
          <!-- About Section -->
<section class='success'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-2 col-md-2 col-xs-2'>
        <img alt='' class='me' src='/imgs/me.jpg' width='300px'>
      </div>
      <div class='col-lg-8 col-lg-offset-2'>
        <p>
          I am currently a Ph.D. student with the Department of Computing,
          Imperial College London under the supervision of Dr. Stefanos Zafeiriou and
          Dr. Bjoern Schuller. During the course of my Ph.D. I worked on
          deep component analysis techniques for many face related applications.
          I worked on problems including face clustering, alignment, 3D
          face reconstruction, and temporal alignment of time-series.
          In 2016 I was lucky enough to intern with the Google Brain team where
          I worked on
          <a href='https://papers.nips.cc/paper/6254-domain-separation-networks' style='color:white;text-decoration:underline'>domain adaptation and 3D pose estimation.</a>
          I am also lucky enough to be a receiver of the prestigious
          <a href='https://research.googleblog.com/2017/04/announcing-2017-google-phd-fellows-for.html' style='color:white;text-decoration:underline'>Google Fellowship in Machine Perception, Speech Technology and Computer Vision.</a>
        </p>
      </div>
    </div>
  </div>
</section>
<section id='papers'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h2>Articles</h2>
        <hr class='star-primary'>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-2 col-xd-4 col-md-4'></div>
      <div class='col-lg-8 col-xd-8 col-md-8'>
        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>Deep Canonical Time Warping for simultaneous alignment and representation learning of sequences</div>
  <div class='authors'> G. Trigeorgis,  M. Nicolaou,  S. Zafeiriou,  B. Schuller</div>
  <div class='rest'>Transactions of Pattern Analysis and Machine Intelligence (TPAMI), 2018</div>
  <div class='description'>
    To be published
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@article{dsnmf2015,
  title = {{Deep Canonical Time Warping for simultaneous alignment and representation learning of sequences}},
  author = {Trigeorgis, George and Nicolaou, Mihalis and Zafeiriou, Stefanos and Schuller, Bjoern W.},
  journal = {{Transactions of Pattern Analysis and Machine Intelligence (TPAMI)}},
  year = {2018}
}
</pre>
    </div>
  </div>
</div>

        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>A deep matrix factorization method for learning attribute representations</div>
  <div class='authors'> G. Trigeorgis,  K. Bousmalis,  S. Zafeiriou,  B. Schuller</div>
  <div class='rest'>Transactions of Pattern Analysis and Machine Intelligence (TPAMI), 2016</div>
  <div class='description'>
    
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    <a href='http://arxiv.org/abs/1509.03248'>[pdf]</a>
    
    
    
    <a href='https://github.com/trigeorgis/deep-semi-nmf'>[code]</a>
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@article{dsnmf2015,
  title = {{A deep matrix factorization method for learning attribute representations}},
  author = {Trigeorgis, George and Bousmalis, Konstantinos and Zafeiriou, Stefanos and Schuller, Bjoern W.},
  journal = {{Transactions of Pattern Analysis and Machine Intelligence (TPAMI)}},
  year = {2016}
}
</pre>
    </div>
  </div>
</div>

        
        
        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>An algorithm for finding biologically significant features in microarray data based on a priori manifold learning</div>
  <div class='authors'> Z. Hira*,  G. Trigeorgis*,  D. Gillies</div>
  <div class='rest'>PloS one, 2014</div>
  <div class='description'>
    * denotes joint authorship.
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    <a href='http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0090562'>[pdf]</a>
    
    
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@article{manifold2014,
  title = {{An algorithm for finding biologically significant features in microarray data based on a priori manifold learning}},
  author = {Hira, Zena M and Trigeorgis, George and Gillies, Duncan F},
  journal = {PloS one},
  volume = {9},
  number = {3},
  pages = {e90562},
  year = {2014},
  publisher = {Public Library of Science}
}
</pre>
    </div>
  </div>
</div>

        
        
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h2>Conference Publications</h2>
        <hr class='star-primary'>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-2 col-xd-4 col-md-4'></div>
      <div class='col-lg-8 col-xd-8 col-md-8'>
        
        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>Normal Estimation For "in-the-wild" Faces Using Fully Convolutional Networks</div>
  <div class='authors'> G. Trigeorgis,  P. Snape,  S. Zafeiriou,  I. Kokkinos</div>
  <div class='rest'>Computer Vision and Pattern Recognition (CVPR), 2017</div>
  <div class='description'>
    
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    <a href='https://ibug.doc.ic.ac.uk/media/uploads/documents/normal_estimation__cvpr_2017_-4.pdf'>[pdf]</a>
    
    
    <a href='https://www.doc.ic.ac.uk/~gt108/papers/trigeorgis2017normals_supp.pdf'>[supp]</a>
    
    
    <a href='https://github.com/trigeorgis/face_normals_cvpr17'>[code]</a>
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@inproceedings{trigeorgis2017normals,
  author = {Trigeorgis, George and Snape, Patrick and Zafeiriou, Stefanos and Kokkinos, Iasonas},
  booktitle = {{Computer Vision and Pattern Recognition (CVPR)}},
  title = {{Normal Estimation For &quot;in-the-wild&quot; Faces Using Fully Convolutional Networks}},
  year = {2017}
}
</pre>
    </div>
  </div>
</div>

        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>3D Face Morphable Models "In-the-Wild"</div>
  <div class='authors'> J. Booth,  E. Antonakos,  S. Ploumpis,  G. Trigeorgis,  Y. Panagakis,  S. Zafeiriou</div>
  <div class='rest'>Computer Vision and Pattern Recognition (CVPR), 2017</div>
  <div class='description'>
    Spotlight.
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    <a href='https://ibug.doc.ic.ac.uk/media/uploads/documents/1701.05360v1.pdf'>[pdf]</a>
    
    
    
    <a href='https://github.com/menpo/menpo3d/tree/master/menpo3d/morphablemodel'>[code]</a>
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@inproceedings{booth2017itw3dmm,
  author = {Booth, J. and Antonakos, E. and Ploumpis, S. and Trigeorgis, G. and Panagakis, Y. and Zafeiriou, S.},
  booktitle = {{Computer Vision and Pattern Recognition (CVPR)}},
  month = jan,
  title = {3D Face Morphable Models &quot;In-the-Wild&quot;},
  url = {https://arxiv.org/abs/1701.05360},
  year = {2017},
  month_numeric = {1}
}
</pre>
    </div>
  </div>
</div>

        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>DenseReg: Fully Convolutional Dense Shape Regression In-the-Wild</div>
  <div class='authors'> R. Guler,  G. Trigeorgis,  E. Antonakos,  P. Snape,  S. Zafeiriou,  I. Kokkinos</div>
  <div class='rest'>Computer Vision and Pattern Recognition (CVPR), 2017</div>
  <div class='description'>
    
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    <a href='https://ibug.doc.ic.ac.uk/media/uploads/documents/guler2017densereg.pdf'>[pdf]</a>
    
    
    
    <a href='https://github.com/ralpguler/DenseReg'>[code]</a>
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@inproceedings{guler2017densereg,
  author = {Guler, R. and Trigeorgis, George and Antonakos, E. and Snape, P. and Zafeiriou, S. and Kokkinos, I.},
  booktitle = {{Computer Vision and Pattern Recognition (CVPR)}},
  title = {DenseReg: Fully Convolutional Dense Shape Regression In-the-Wild},
  url = {https://arxiv.org/pdf/1612.01202v1.pdf},
  year = {2017}
}
</pre>
    </div>
  </div>
</div>

        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>Domain Separation Networks</div>
  <div class='authors'> K. Bousmalis*,  G. Trigeorgis*,  N. Silberman,  D. Krishnan,  D. Erhan</div>
  <div class='rest'>Neural Information Processing Systems (NIPS), 2016</div>
  <div class='description'>
    * denotes joint first-authorship.
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    <a href='http://arxiv.org/pdf/1608.06019.pdf'>[pdf]</a>
    
    
    
    <a href='https://github.com/tensorflow/models/tree/master/domain_adaptation'>[code]</a>
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@inproceedings{domain_separation_nets16,
  title = {{Domain Separation Networks}},
  author = {Bousmalis, Konstantinos and Trigeorgis, George and Silberman, Nathan and Krishnan, Dilip and Erhan, Dumitru},
  booktitle = {{Neural Information Processing Systems (NIPS)}},
  year = {2016}
}
</pre>
    </div>
  </div>
</div>

        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>Mnemonic Descent Method: A recurrent process applied for end-to-end face alignment</div>
  <div class='authors'> G. Trigeorgis,  P. Snape,  E. Antonakos,  M. Nicolaou,  S. Zafeiriou</div>
  <div class='rest'>Computer Vision and Pattern Recognition (CVPR), 2016</div>
  <div class='description'>
    
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    <a href='http://ibug.doc.ic.ac.uk/media/uploads/documents/trigeorgis2016mnemonic.pdf'>[pdf]</a>
    
    
    
    <a href='https://github.com/trigeorgis/mdm'>[code]</a>
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@inproceedings{trigeorgis_mdm16,
  title = {{Mnemonic Descent Method: A recurrent process applied for end-to-end face alignment}},
  author = {Trigeorgis, George and Snape, Patrick and Antonakos, Epameinondas and Nicolaou, Mihalis A. and Zafeiriou, Stefanos},
  booktitle = {{Computer Vision and Pattern Recognition (CVPR)}},
  year = {2016}
}
</pre>
    </div>
  </div>
</div>

        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>Deep Canonical Time Warping</div>
  <div class='authors'> G. Trigeorgis,  M. Nicolaou,  S. Zafeiriou,  B. Schuller</div>
  <div class='rest'>Computer Vision and Pattern Recognition (CVPR), 2016</div>
  <div class='description'>
    
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    <a href='http://ibug.doc.ic.ac.uk/media/uploads/documents/0005.pdf'>[pdf]</a>
    
    
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@inproceedings{trigeorgis_dctw16,
  title = {{Deep Canonical Time Warping}},
  author = {Trigeorgis, George and Nicolaou, Mihalis and Zafeiriou, Stefanos and Schuller, Bjoern W.},
  booktitle = {{Computer Vision and Pattern Recognition (CVPR)}},
  year = {2016}
}
</pre>
    </div>
  </div>
</div>

        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>Adieu Features? End-to- End Speech Emotion Recognition using a Deep Convolutional Recurrent Network</div>
  <div class='authors'> G. Trigeorgis,  F. Ringeval,  R. B.,  E. Marchi,  M. Nicolaou,  B. Schuller,  S. Zafeiriou</div>
  <div class='rest'>IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP), 2016</div>
  <div class='description'>
    Oral. Winner of the IEEE Spoken Language Processing Student Grant.
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    <a href='http://ibug.doc.ic.ac.uk/media/uploads/documents/learning_audio_paralinguistics_from_the_raw_waveform.pdf'>[pdf]</a>
    
    
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@inproceedings{trigeorgis_icassp16,
  author = {Trigeorgis, George and Ringeval, Fabien and B., Ray and Marchi, Erik and Nicolaou, Mihalis A. and Schuller, Bjoern and Zafeiriou, Stefanos},
  booktitle = {IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)},
  title = {Adieu Features? End-to- End Speech Emotion Recognition using a Deep Convolutional Recurrent Network},
  year = {2016}
}
</pre>
    </div>
  </div>
</div>

        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>Towards Deep Multimodal Alignment</div>
  <div class='authors'> G. Trigeorgis,  M. Nicolaou,  S. Zafeiriou,  B. Schuller</div>
  <div class='rest'>Neural Information Processing Systems (NIPS) Multimodal Machine Learning Workshop, 2015</div>
  <div class='description'>
    Spotlight.
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@inproceedings{trigeorgis_dctw15,
  title = {{Towards Deep Multimodal Alignment}},
  author = {Trigeorgis, George and Nicolaou, Mihalis and Zafeiriou, Stefanos and Schuller, Bjoern W.},
  booktitle = {{Neural Information Processing Systems (NIPS) Multimodal Machine Learning Workshop}},
  year = {2015}
}
</pre>
    </div>
  </div>
</div>

        
        
        
        
        
        <div class='paper' ng-controller='paperCtrl'>
  <div class='title'>A Deep Semi-NMF Model for Learning Hidden Representations</div>
  <div class='authors'> G. Trigeorgis,  K. Bousmalis,  S. Zafeiriou,  B. Schuller</div>
  <div class='rest'>International Conference on Machine Learning (ICML), 2014</div>
  <div class='description'>
    
  </div>
  <div class='icons'>
    <!-- %a.fa.large.fa-file-text-o{'data-toggle' => 'tooltip', title: 'Bibtex', 'ng-click' => 'hideBibtex = !hideBibtex'} -->
    <!-- %a.fa.large.fa-external-link{href: "" } -->
    
    
    <a href='http://jmlr.org/proceedings/papers/v32/trigeorgis14.pdf'>[pdf]</a>
    
    
    <a href='http://jmlr.org/proceedings/papers/v32/trigeorgis14-supp.pdf'>[supp]</a>
    
    
    <a href='https://github.com/trigeorgis/deep-semi-nmf'>[code]</a>
    
    <a data-toggle='tooltip' ng-click='hideBibtex = !hideBibtex' title='Bibtex'>
      [bibtex]
    </a>
  </div>
  <div class='bibtex' ng-hide='hideBibtex'>
    <div class='nonbindable' ng-non-bindable='true'>
      <pre>@inproceedings{dsnmf2014,
  title = {{A Deep Semi-NMF Model for Learning Hidden Representations}},
  author = {Trigeorgis, George and Bousmalis, Konstantinos and Zafeiriou, Stefanos and Schuller, Bjoern W.},
  booktitle = {{International Conference on Machine Learning (ICML)}},
  year = {2014}
}
</pre>
    </div>
  </div>
</div>

        
        
        
        
      </div>
    </div>
  </div>
</section>
<section id='gallery'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-12 text-center'>
        <h2>Gallery</h2>
        <hr class='star-primary'>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-12'>
        <div class='image-container' id='gallery'>
          pass
        </div>
      </div>
    </div>
  </div>
</section>

        </div>
        <!-- Footer -->
        <footer class='text-center' id='contact'>
          <div class='footer-above'>
            <div class='container'>
              <div class='row'>
                <div class='footer-col col-md-4'>
                  <h3>Location</h3>
                  <p>
                    351, Huxley Building<br>DoC, Imperial College London<br>180 Queens Gate<br>SW7 2AZ, London, UK<br><a href='g.trigeorgis@imperial.ac.uk'>
                      g.trigeorgis@imperial.ac.uk
                    </a>
                  </p>
                </div>
                <div class='footer-col col-md-4'>
                  <h3>Around the Web</h3>
                  <ul class='list-inline'>
                    <li>
                      <a class='btn-social btn-outline' href='https://facebook.com/gtrigeorgis'>
                        <i class='fa fa-fw fa-facebook'></i>
                      </a>
                    </li>
                    <li>
                      <a class='btn-social btn-outline' href='https://plus.google.com/+GeorgeTrigeorgis'>
                        <i class='fa fa-fw fa-google-plus'></i>
                      </a>
                    </li>
                    <!-- %li -->
                    <!-- %a.btn-social.btn-outline{:href => "#"} -->
                    <!-- %i.fa.fa-fw.fa-twitter -->
                    <li>
                      <a class='btn-social btn-outline' href='https://www.linkedin.com/in/trigeorgis'>
                        <i class='fa fa-fw fa-linkedin'></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class='footer-below'>
            <div class='container'>
              <div class='row'>
                <div class='col-lg-12'>
                  Copyright © Trigeorgis 2016
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
